extends layout

block content
    div The sum is #{20 + 40}
    h3 Employee Details 
    ul  
        li Employee Name #{name}
        li Employee Dep #{department}
        li Age #{age}
        li Address #{addr.loc}
        